<center><footer class="footer text-right">
   2020 © TIKETING. 
</footer></center>

</div>


<!-- ============================================================== -->
<!-- End Right content here -->
<!-- ============================================================== -->


</div>
<!-- END wrapper -->



<!-- jQuery  -->

<script src="/assets/admin/js/tether.min.js"></script><!-- Tether for Bootstrap -->
<script src="/assets/admin/js/bootstrap.min.js"></script>
<script src="/assets/admin/js/metisMenu.min.js"></script>
<script src="/assets/admin/js/waves.js"></script>
<script src="/assets/admin/js/jquery.slimscroll.js"></script>

<!-- Counter js  -->
<script src="/assets/plugins/waypoints/jquery.waypoints.min.js"></script>
<script src="/assets/plugins/counterup/jquery.counterup.min.js"></script>

<!-- Required datatable js -->
<script src="/assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/assets/plugins/datatables/dataTables.bootstrap4.min.js"></script>
<!-- Buttons examples -->
<script src="/assets/plugins/datatables/dataTables.buttons.min.js"></script>
<script src="/assets/plugins/datatables/buttons.bootstrap4.min.js"></script>
<script src="/assets/plugins/datatables/jszip.min.js"></script>
<script src="/assets/plugins/datatables/pdfmake.min.js"></script>
<script src="/assets/plugins/datatables/vfs_fonts.js"></script>
<script src="/assets/plugins/datatables/buttons.html5.min.js"></script>
<script src="/assets/plugins/datatables/buttons.print.min.js"></script>
<script src="/assets/plugins/datatables/buttons.colVis.min.js"></script>
<!-- Responsive examples -->
<script src="/assets/plugins/datatables/dataTables.responsive.min.js"></script>
<script src="/assets/plugins/datatables/responsive.bootstrap4.min.js"></script>

<!--C3 Chart-->
<script type="text/javascript" src="/assets/plugins/d3/d3.min.js"></script>
<script type="text/javascript" src="/assets/plugins/c3/c3.min.js"></script>

{{!-- Select2 --}}
<script src="/assets/plugins/switchery/switchery.min.js"></script>
<script src="/assets/plugins/bootstrap-tagsinput/js/bootstrap-tagsinput.min.js"></script>
<script src="/assets/plugins/select2/js/select2.min.js" type="text/javascript"></script>
<script src="/assets/plugins/bootstrap-select/js/bootstrap-select.js" type="text/javascript"></script>
<script src="/assets/plugins/bootstrap-filestyle/js/bootstrap-filestyle.min.js" type="text/javascript"></script>
<script src="/assets/plugins/bootstrap-touchspin/js/jquery.bootstrap-touchspin.min.js" type="text/javascript"></script>
<script src="/assets/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js" type="text/javascript"></script>

<script type="text/javascript" src="/assets/plugins/autocomplete/jquery.mockjax.js"></script>
<script type="text/javascript" src="/assets/plugins/autocomplete/jquery.autocomplete.min.js"></script>
<script type="text/javascript" src="/assets/plugins/autocomplete/countries.js"></script>
<script type="text/javascript" src="/assets/Admin/pages/jquery.autocomplete.init.js"></script>

<!--Echart Chart-->
<script src="/assets/plugins/echart/echarts-all.js"></script>

<!-- Dashboard init -->
<script src="/assets/admin/pages/jquery.dashboard.js"></script>

<!-- App js -->
<script src="/assets/admin/js/jquery.core.js"></script>
<script src="/assets/admin/js/jquery.app.js"></script>

<!--Summernote js-->
<script src="/assets/plugins/summernote/summernote.min.js"></script>

<!-- Init Js file -->
<script type="text/javascript" src="assets/Admin/pages/jquery.form-advanced.init.js"></script>

<script type="text/javascript">
   $(document).ready(function () {
      $('#datatable').DataTable();

      //Buttons examples
      var table = $('#datatable-buttons').DataTable({
         lengthChange: false,
         buttons: ['copy', 'excel', 'pdf', 'colvis']
      });

      table.buttons().container()
         .appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');
   });

</script>

<script>
   jQuery(document).ready(function () {

      $('.summernote').summernote({
         height: 200,                 // set editor height
         minHeight: null,             // set minimum height of editor
         maxHeight: null,             // set maximum height of editor
         focus: false                 // set focus to editable area after initializing summernote
         
      });

      $('.inline-editor').summernote({
         airMode: true
      });

   });
</script>

</body>

</html>