<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                2020 © Call Center - PT.Duta Abadi Primantara
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->


<!-- jQuery  -->
<script src="/assets/frontend/js/jquery.min.js"></script>
<script src="/assets/frontend/js/tether.min.js"></script><!-- Tether for Bootstrap -->
<script src="/assets/frontend/js/bootstrap.min.js"></script>
<script src="/assets/frontend/js/waves.js"></script>
<script src="/assets/frontend/js/jquery.slimscroll.js"></script>
<script src="/assets/frontend/js/jquery.scrollTo.min.js"></script>

<!-- Counter js  -->
<script src="/assets/plugins/waypoints/jquery.waypoints.min.js"></script>
<script src="/assets/plugins/counterup/jquery.counterup.min.js"></script>


<!-- Required datatable js -->
<script src="/assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/assets/plugins/datatables/dataTables.bootstrap4.min.js"></script>
<!-- Buttons examples -->
<script src="/assets/plugins/datatables/dataTables.buttons.min.js"></script>
<script src="/assets/plugins/datatables/buttons.bootstrap4.min.js"></script>
<script src="/assets/plugins/datatables/jszip.min.js"></script>
<script src="/assets/plugins/datatables/pdfmake.min.js"></script>
<script src="/assets/plugins/datatables/vfs_fonts.js"></script>
<script src="/assets/plugins/datatables/buttons.html5.min.js"></script>
<script src="/assets/plugins/datatables/buttons.print.min.js"></script>
<script src="/assets/plugins/datatables/buttons.colVis.min.js"></script>
<!-- Responsive examples -->
<script src="/assets/plugins/datatables/dataTables.responsive.min.js"></script>
<script src="/assets/plugins/datatables/responsive.bootstrap4.min.js"></script>

<!--C3 Chart-->
<script type="text/javascript" src="/assets/plugins/d3/d3.min.js"></script>
<script type="text/javascript" src="/assets/plugins/c3/c3.min.js"></script>

<!--Echart Chart-->
<script src="/assets/plugins/echart/echarts-all.js"></script>

<!-- Dashboard init -->
<script src="/assets/frontend/pages/jquery.dashboard.js"></script>

<!-- App js -->
<script src="/assets/frontend/js/jquery.core.js"></script>
<script src="/assets/frontend/js/jquery.app.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#datatable').DataTable();

        //Buttons examples
        var table = $('#datatable-buttons').DataTable({
            lengthChange: false,
            buttons: ['copy', 'excel', 'pdf', 'colvis']
        });

        table.buttons().container()
            .appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');
    });

</script>

</body>

</html>

