
<!DOCTYPE html>
<html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
  <meta content="Coderthemes" name="author" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <!-- App favicon -->
  <link rel="shortcut icon" href="/assets/img/favicon.png">

  <!-- DataTables -->
  <link href="/assets/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
  <link href="/assets/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
  <!-- Responsive datatable examples -->
  <link href="/assets/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />

  <!-- Plugins css-->
  <link href="/assets/plugins/bootstrap-tagsinput/css/bootstrap-tagsinput.css" rel="stylesheet" />
  <link href="/assets/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" />
  <link href="/assets/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
  <link href="/assets/plugins/bootstrap-touchspin/css/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/assets/plugins/switchery/switchery.min.css">

  <!-- Summernote css -->
  <link href="/assets/plugins/summernote/summernote.css" rel="stylesheet" />
  <!-- C3 charts css -->
  <link href="/assets/plugins/c3/c3.min.css" rel="stylesheet" type="text/css" />

  <!-- App css -->
  <link href="/assets/admin/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="/assets/admin/css/icons.css" rel="stylesheet" type="text/css" />
  <link href="/assets/admin/css/metismenu.min.css" rel="stylesheet" type="text/css" />
  <link href="/assets/admin/css/style.css" rel="stylesheet" type="text/css" />

  <script src="/assets/admin/js/modernizr.min.js"></script>
<script src="/assets/admin/js/jquery.min.js"></script>
</head>